a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #000;
}

.link {
    color: #0070f3;
    font-size: 1.2rem;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 1rem;
}

.text-blue {
    color: #0070f3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #000;
}

.container {
    margin: .6rem auto;
    width: 98%;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 70%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

img {
  width: 100%;
  border-radius: 8px;
}

pre {
  background-color: #eee; 
  padding: 1rem .5rem;
  border-radius: 8px;
}

